* {
   box-sizing: border-box;
   
}
body {
   background: rgb(15, 15, 15);
   display: flex;
   justify-content: center;
   align-content: center;
   height: 80vh;
   margin:  2rem;
}
.grid-container {
   background-image: url(images/vertSpaceCrop.png
   );
   background-repeat: no-repeat;
   background-size: 102% 102%;
   background-position: center ;
   border: solid 3px aquamarine;
   border-radius: 30px; 
   
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: repeat(9, 1fr);
   grid-template-rows:  repeat(9, 1fr);
   grid-gap: 0;
   width: min(72vw, 60rem);
   
   
   
}


.player-container {
  border-top: solid 3px aquamarine;
  
}
.s11,
.s21,
.s31,
.s41,
.s51,
.s61,
.s71,
.s81,
.s91 {
   border-bottom: solid 3px aquamarine;
}
.player {
   background-image: url(images/spaceship.png);
   background-repeat: no-repeat;
   background-size: 90%;
   background-position: center center;
   padding:10px;
   height: 100%;
}
.bomb {
   background-image: url(images/invader.png);
   background-repeat: no-repeat;
   background-size: 40%;
   background-position: center;

   height: 100%;
}
@media (max-width: 479px) {
  .player{
   background-size: 130%;
  }
  .bomb{
   background-size: 90%;
  }
  .grid-container{
   width: min(100vw, 60rem);
  }
  body{
   margin: 0;
  }
}
@media (min-width: 479px) {
  .grid-container{
   background-image: url(images/horzSpaceCrop.png);
  }
}